/*     body {
            background-color: #DCC3B3;
            margin: 0;
            display: flex;
            justify-content: center;
            min-height: 100vh;
            font-family: "Roboto", sans-serif;
        }

        .main-container {
            position: relative;
            max-width: 1200px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .logo {
            font-size: 120px;
            color: #39312E;
            font-weight: 600;
            text-align: center;
            text-transform: uppercase;
            padding: 0 60px;
        }
        .logosvg {
            max-width: 600px;
        }

        .links-container {
            position: absolute;
            bottom: 100px;
            display: flex;
            justify-content: space-between;
            margin-top: 100px;
            width: 100%;

        }

        .link {
            margin: 20px 40px;
            font-weight: bold;
            text-decoration: none;
            color: #A15737;
            letter-spacing: 2px;
        }

        .button-container {
            position: absolute;
            top: 100px;
            right: 0px;
            display: flex;
            justify-content: flex-end;
            padding: 20px;
        }

        .button {
            padding: 6px 15px;
            border-radius: 8px;
            text-align: center;
            letter-spacing: 2px;
            text-transform: uppercase;
            width: 160px;
            background-color: transparent;
            border: 3px solid #A2F4DE;
            color: #A15737;
            text-decoration: none;
            transition: background-color 0.3s, color 0.3s;
        }

        .button:hover {
            background-color: #A2F4DE;
            color: #DCC3B3;
        }


        .wrapper {
            position: fixed;
            top: 0;
            left: 0;
            animation: scroll 1000s linear infinite;
            background: url("bg.png"),
            #DCC3B3;
            width: 100%;
            height: 100vh;
            perspective: 1000px;
            perspective-origin: 50% 50%;
        }

        @keyframes scroll {
          100% {
            background-position: 0px -4000%;
          }
        }

        
        @media (prefers-reduced-motion) {
          .wrapper {
            animation: scroll 800s linear infinite;
          }
        }

        @media (min-width: 670px) {
          .title {
            font-size: 5rem;
          }
        }

        @media only screen and (max-width: 800px) {

            .links-container {
                flex-direction: column;
                text-align: center;
            }

            .about-txt {
                font-size: 24px;
            }

            .button-container {
                top: 40px;
            }            

            .button {
                width: 100px;
            }

            .links-container {
                bottom: 60px;
            }   

            .logo-container {
                position: absolute;
                width: 120px;
                top: 40px;
                left: 20px;
            }
            .logo {
                padding: 0 32px;
                margin-bottom: 40px;
            }
        .logosvg {
            width: 120px;
        }            
            .link {
                margin: 10px 10px;
            } 

        } */

       body {
            background-color: #e5e5e5;
            margin: 0;
            display: flex;
            justify-content: center;
            min-height: 100vh;
            font-family: "Roboto", sans-serif;
        }

        .main-container {
            position: relative;
            max-width: 1200px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .logo {
            font-weight: 600;
            text-align: center;
            padding: 0 60px;
        }
        .logo-container {
            position: absolute;
            width: 180px;
            top: 80px;
            left: 0px;
            display: flex;
            justify-content: flex-end;
            padding: 20px;
        }        
        .logosvg {
            max-width: 600px;
        }

        .logosvgindex {
            max-width: 600px;
        }        

        .links-container {
            position: absolute;
            bottom: 80px;
            display: flex;
            align-items: center;
            flex-direction: column;            
            margin-top: 100px;
            width: 100%;

        }

        .link {
            margin: 20px 40px;
            font-weight: bold;
            text-decoration: none;
            color: #000;
            letter-spacing: 2px;
        }

        .button-container {
            position: absolute;
            top: 80px;
            right: 0px;
            display: flex;
            justify-content: flex-end;
            padding: 20px;
        }

        .button {
            padding: 6px 15px;
            border-radius: 8px;
            text-align: center;
            letter-spacing: 2px;
            text-transform: uppercase;
            width: 160px;
            background-color: transparent;
            border: 3px solid #A2F4DE;
            color: #000;
            text-decoration: none;
            transition: background-color 0.3s, color 0.3s;
        }

        .button:hover {
            background-color: #A2F4DE;
            color: #000;
        }

        .about-txt {
            font-size: 40px;
            color: #000;
            max-width: 800px;
            margin: 0 auto;
        }

      .wrapper {
            position: fixed;
            top: 0;
            left: 0;
            animation: scroll 1000s linear infinite;
            background: url("bg.png"),
            #DCC3B3;
            width: 100%;
            height: 100vh;
            perspective: 1000px;
            perspective-origin: 50% 50%;
        }

        @keyframes scroll {
          100% {
            background-position: 0px -4000%;
          }
        }

        /* Fallback if the operatring system prefers reduced motion*/
        @media (prefers-reduced-motion) {
          .wrapper {
            animation: scroll 800s linear infinite;
          }
        }     

        @media only screen and (max-width: 800px) {

            .links-container {
                flex-direction: column;
                text-align: center;
            }

            .button-container {
                top: 40px;
            }            

            .button {
                width: 100px;
            }

            .links-container {
                bottom: 60px;
            }   

            .logo-container {
                position: absolute;
                width: 120px;
                top: 40px;
                left: 20px;
            }
            .logo {
                padding: 0 32px;
                margin-bottom: 40px;
            }
            .logosvg {
                width: 120px;
                height: auto;
            }
            .logosvgindex {
                width: 84%;
                height: auto;
            }            
            .about-txt {
                font-size: 21px;
            }                       

            .link {
                margin: 5px 10px;
                font-size: 14px;
            } 

        }

        @media screen and (orientation:landscape) 
            and (max-device-width: 880px) {
            
            .logosvg {
                max-width: 250px;
                width: 250px;
            }

            .logosvgindex {
                max-width: 300px;
            }               

            .about-txt {
                font-size: 16px;
                max-width: 400px;
            }

            .button-container {
                top: 20px;
            }            

            .button {
                width: 100px;
            }

            .links-container {
                bottom: 20px;
            } 


            .logo {
                margin-bottom: 0px;
            } 

            .logo-container {
                width: 120px;
                top: 20px;
            } 

            .link {
                font-size: 12px;
                margin: 8px 24px;
            }            

            }  
            