@import url(fontawesome-all.min.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #fff;
}

small {
  padding: 20px !important;
  color: #111;
  background-color: rgba(255, 255, 255, 0.69);
  line-height: 1.5;
  border-radius: 10px;
  margin: 20px auto !important;
  font-weight: 400;
  font-size: 14px !important;
  max-width: 464px;
  display: block;
  width: 100%;
  text-shadow: 1px 1px 6px #ddd;
}

.logo-bottom {
  margin: 40px auto !important;
  width: 100%;
  max-width: 250px;
  position: relative;
}

#desc {
  text-align: center;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin: 24px;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #111;
}
.stage svg,
.stage ul,
.stage li,
.stage .container {
  position: absolute;
}
.stage {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: auto;
  position: relative;
  justify-content: center;
}
.results,
.button-area {
  padding: 20px 0 0;
  text-align: center;
  margin: 0 auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.results {
  margin-top: 0;
}

.button-area {
  margin-bottom: 0;
}
button {
  text-align: center;
  display: inline-block;
  top: 25px;
  border-radius: 5px;
  font-size: 1.5em;
  padding: 10px 27px;

  background: white;
  font-weight: 600;
  border: 1px solid #111;
  color: #111;
  transition: all 0.2s ease;
  font-weight: 600;
  box-shadow: 0 0 8px #000;
}
button:hover,
button:focus-visible {
  background: white;
  color: #16a085;
  border-color: #16a085;
  cursor: pointer;
}

.ring,
.item,
.console-outer {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  user-select: none;
}
.roww.console {
  flex: 1 1 auto;
  display: flex;
  /*max-height: 520px;*/
  flex-direction: column;
  justify-content: center;
  margin: 20px 0;
  width: 100%;
}
.console-outer {
  max-height: 360px;
  height: 360px;
  min-height: 130px;
  flex: 1 1 auto;
  box-shadow: 0 5px 20px 0px #07352b80;
  display: flex;
  flex-direction: row;
  max-width: 465px;
  margin: auto;
  margin-bottom: 20px;
  gap: 2px;
  border: 10px solid black;
  border-left: none;
  border-right: none;
  border-radius: 10px;
}

.col.wheel {
  background: black;
  padding: 0 40px;
  max-height: 430px;
  min-height: 130px;
  height: 100%;
  overflow: hidden;
  margin: auto;
  flex: 0 0 calc(33.333333333% - 2px);
  max-width: calc(33.333333333% - 2px);
  position: relative;
}
.console-outer:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 10%,
    rgba(0, 0, 0, 0) 40%,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0) 90%,
    rgba(0, 0, 0, 1) 100%
  );
  content: " ";
}

.stage ul {
  list-style: none;
  padding: 0;
}
.item {
  display: flex;
  justify-content: center;
  vertical-align: center;
  margin: auto;
  border: 1px solid white;
  border-radius: 5px;

  color: white;
  -webkit-perspective: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  visibility: visible;
  backface-visibility: hidden;
  background: white;
  opacity: 0.8;
}
.item span {
  font-size: 2.5em;
  margin: auto;
}

.item.active {
  box-shadow: inset 0px 0 10px 0px #ecd820b0;
  opacity: 1;
}

.results {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.results div {
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  text-shadow: 2px 2px 1px #000;
  text-align: center;
  height: 69px;
}

.stage.notstarted .active {
  box-shadow: none;
}

.holdcontrols {
  max-width: 465px;
  width: 100%;
  display: flex;
  margin: 0 auto;
}
.holdcontrols .col {
  padding: 10px 0;
  padding-top: 0;
  text-align: center;
  flex: 0 0 calc(33.333333333% - 2px);
  max-width: calc(33.333333333% - 2px);
}
.holdcontrols button {
  font-size: 1em;
  padding: 0 25px;
  background: #111 !important;
  /*  border: 1px solid #111; */
  color: #fff !important;
}
.holdcontrols button:hover {
  background: #fff !important;
  /*  border: 1px solid #f00; */
  color: #111 !important;
}

.holdcontrols button.held {
  background: #333841 !important;
  color: #fff !important;
  /*  border-color: #16a085;*/
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

mark {
  background-color: transparent;
  color: inherit;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input,
select,
textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

/* Basic */

@-ms-viewport {
  width: device-width;
}

body {
  -ms-overflow-style: scrollbar;
}

@media screen and (max-width: 480px) {
  html,
  body {
    min-width: 320px;
  }
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #fff;
}

body.is-preload *,
body.is-preload *:before,
body.is-preload *:after {
  -moz-animation: none !important;
  -webkit-animation: none !important;
  -ms-animation: none !important;
  animation: none !important;
  -moz-transition: none !important;
  -webkit-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

/* Type */

body {
  background-color: #fff;
  color: #111;
}

body,
input,
select,
textarea {
  font-size: 17pt;

  line-height: 1.65;
}

@media screen and (max-width: 1680px) {
  body,
  input,
  select,
  textarea {
    font-size: 14pt;
  }
}

@media screen and (max-width: 1280px) {
  body,
  input,
  select,
  textarea {
    font-size: 12pt;
  }
}

@media screen and (max-width: 360px) {
  body,
  input,
  select,
  textarea {
    font-size: 11pt;
  }
}

a {
  -moz-transition: color 0.2s ease, border-bottom 0.2s ease;
  -webkit-transition: color 0.2s ease, border-bottom 0.2s ease;
  -ms-transition: color 0.2s ease, border-bottom 0.2s ease;
  transition: color 0.2s ease, border-bottom 0.2s ease;
  text-decoration: none;
  border-bottom: dotted 1px;
  color: inherit;
}

a:hover {
  border-bottom-color: transparent;
}

strong,
b {
  font-weight: 400;
}

em,
i {
  font-style: italic;
}

p {
  margin: 0;
}

p.content {
  -moz-columns: 20em 2;
  -webkit-columns: 20em 2;
  -ms-columns: 20em 2;
  columns: 20em 2;
  -moz-column-gap: 2em;
  -webkit-column-gap: 2em;
  -ms-column-gap: 2em;
  column-gap: 2em;
  text-align: justify;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5;
  margin: 0 0 0.7em 0;
  letter-spacing: -0.025em;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 2.2em;
  line-height: 1.2;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-size: 1.1em;
}

h5 {
  font-size: 0.9em;
}

h6 {
  font-size: 0.7em;
}

@media screen and (max-width: 736px) {
  h1 {
    font-size: 2em;
  }
}

sub {
  font-size: 0.8em;
  position: relative;
  top: 0.5em;
}

sup {
  font-size: 0.8em;
  position: relative;
  top: -0.5em;
}

blockquote {
  border-left: solid 4px;
  font-style: italic;
  margin: 0 0 2em 0;
  padding: 0.5em 0 0.5em 2em;
}

code {
  border-radius: 8px;
  border: solid 1px;
  font-family: "Courier New", monospace;
  font-size: 0.9em;
  margin: 0 0.25em;
  padding: 0.25em 0.65em;
}

pre {
  -webkit-overflow-scrolling: touch;
  font-family: "Courier New", monospace;
  font-size: 0.9em;
  margin: 0 0 2em 0;
}

pre code {
  display: block;
  line-height: 1.75;
  padding: 1em 1.5em;
  overflow-x: auto;
}

hr {
  border: 0;
  border-bottom: solid 1px;
  margin: 2em 0;
}

hr.major {
  margin: 3em 0;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

input,
select,
textarea {
  color: #ffffff;
}

a:hover {
  color: #ffffff;
}

strong,
b {
  color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ffffff;
}

/* Button */

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  border-radius: 8px;
  border: 0;
  cursor: pointer;
  display: inline-block;
  color: #111;
  /*		height: 2.75em;*/
  line-height: 2.75em;
  /*		min-width: 9.25em;*/
  padding: 0 1.5em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

input[type="submit"].icon,
input[type="reset"].icon,
input[type="button"].icon,
button.icon,
.button.icon {
  padding-left: 1.35em;
}

input[type="submit"].icon:before,
input[type="reset"].icon:before,
input[type="button"].icon:before,
button.icon:before,
.button.icon:before {
  margin-right: 0.5em;
}

input[type="submit"].fit,
input[type="reset"].fit,
input[type="button"].fit,
button.fit,
.button.fit {
  width: 100%;
}

input[type="submit"].small,
input[type="reset"].small,
input[type="button"].small,
button.small,
.button.small {
  font-size: 0.8em;
}

input[type="submit"].large,
input[type="reset"].large,
input[type="button"].large,
button.large,
.button.large {
  font-size: 1.35em;
}

input[type="submit"].disabled,
input[type="submit"]:disabled,
input[type="reset"].disabled,
input[type="reset"]:disabled,
input[type="button"].disabled,
input[type="button"]:disabled,
button.disabled,
button:disabled,
.button.disabled,
.button:disabled {
  pointer-events: none;
  opacity: 0.25;
}

@media screen and (max-width: 736px) {
  input[type="submit"],
  input[type="reset"],
  input[type="button"],
  button,
  .button {
    min-width: 0;
  }
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
  background-color: #fff;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.35);
  color: #111;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover,
.button:hover {
  background-color: #111;
  color: #fff;
}

input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active,
button:active,
.button:active {
  background-color: rgba(255, 255, 255, 0.2);
}

input[type="submit"].icon:before,
input[type="reset"].icon:before,
input[type="button"].icon:before,
button.icon:before,
.button.icon:before {
  color: rgba(255, 255, 255, 0.5);
}

input[type="submit"].primary,
input[type="reset"].primary,
input[type="button"].primary,
button.primary,
.button.primary {
  background-color: #8cc9f0;
  color: #111;
  box-shadow: none;
}

input[type="submit"].primary:hover,
input[type="reset"].primary:hover,
input[type="button"].primary:hover,
button.primary:hover,
.button.primary:hover {
  background-color: #9acff2;
}

input[type="submit"].primary:active,
input[type="reset"].primary:active,
input[type="button"].primary:active,
button.primary:active,
.button.primary:active {
  background-color: #7ec3ee;
}

input[type="submit"].primary.icon:before,
input[type="reset"].primary.icon:before,
input[type="button"].primary.icon:before,
button.primary.icon:before,
.button.primary.icon:before {
  color: #111;
}

/* Icon */

.icon {
  text-decoration: none;
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  border-bottom: none;
  position: relative;
}

.icon:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  text-transform: none !important;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
}

.icon > .label {
  display: none;
}

.icon:before {
  line-height: solid;
}

.icon.solid:before {
  font-weight: 900;
}

.icon.brands:before {
  font-family: "Font Awesome 5 Brands";
}

.icon.major {
  border: solid 1px;
  display: inline-block;
  border-radius: 8px;
  padding: 0.65em;
  margin: 0 0 2em 0;
  cursor: default;
}

.icon.major:before {
  display: inline-block;
  font-size: 6.25rem;
  width: 2.25em;
  height: 2.25em;
  line-height: 2.2em;
  border-radius: 8px;
  border: solid 1px;
  text-align: center;
}

.icon.alt {
  display: inline-block;
  border: solid 1px;
  border-radius: 8px;
}

.icon.alt:before {
  display: block;
  font-size: 1.25em;
  width: 2em;
  height: 2em;
  text-align: center;
  line-height: 2em;
}

.icon.style1 {
  color: #efa8b0;
}

.icon.style2 {
  color: #c79cc8;
}

.icon.style3 {
  color: #a89cc8;
}

.icon.style4 {
  color: #9bb2e1;
}

.icon.style5 {
  color: #8cc9f0;
}

@media screen and (max-width: 1680px) {
  .icon.major:before {
    font-size: 5.5rem;
  }
}

@media screen and (max-width: 1280px) {
  .icon.major:before {
    font-size: 4.75rem;
  }
}

@media screen and (max-width: 736px) {
  .icon.major {
    margin: 0 0 1.5em 0;
    padding: 0.35em;
  }

  .icon.major:before {
    font-size: 3.5rem;
  }

  .container {
    perspective: 2000px;
    width: 90px;
    height: 130px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: relative;
  }
}

@media screen and (min-width: 480px) {
  .container {
    perspective: 2000px;
    width: 115px;
    height: 130px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: relative;
  }
}

.icon.major {
  border-color: rgba(255, 255, 255, 0.35);
}

.icon.major:before {
  border-color: rgba(255, 255, 255, 0.35);
}

.icon.alt {
  border-color: rgba(255, 255, 255, 0.35);
  color: #ffffff;
}

.icon.alt:hover {
  background-color: rgba(255, 255, 255, 0.075);
}

.icon.alt:active {
  background-color: rgba(255, 255, 255, 0.2);
}

/* Icons */

ul.icons {
  cursor: default;
  list-style: none;
  padding-left: 0;
}

ul.icons li {
  display: inline-block;
  padding: 0 0.65em 0 0;
}

ul.icons li:last-child {
  padding-right: 0 !important;
}

/* Section/Article */

section.special,
article.special {
  text-align: center;
}

header.major {
  margin-bottom: 3em;
}

header.major h2 {
  font-size: 2em;
}

header.major h2:after {
  display: block;
  content: "";
  width: 3.25em;
  height: 2px;
  margin: 0.7em 0 1em 0;
  border-radius: 2px;
}

section.special header.major h2:after,
article.special header.major h2:after {
  margin-left: auto;
  margin-right: auto;
}

header.major p {
  font-size: 1.25em;
  letter-spacing: -0.025em;
}

header.major.special {
  text-align: center;
}

header.major.special h2:after {
  margin-left: auto;
  margin-right: auto;
}

footer.major {
  margin-top: 3em;
}

@media screen and (max-width: 736px) {
  header.major {
    margin-bottom: 0;
  }

  header.major h2 {
    font-size: 1.5em;
  }

  header.major p {
    font-size: 1em;
    letter-spacing: 0;
  }

  header.major p br {
    display: none;
  }

  footer.major {
    margin-top: 0;
  }
}

header.major h2:after {
  background-color: rgba(255, 255, 255, 0.35);
}

/* Header */

#header {
  padding: 1em;
  text-align: center;
}

#header h1 {
  margin: 0;
}

#header p {
  font-size: 1.25em;
  letter-spacing: -0.025em;
}

#header.alt {
  padding: 1em;
}

#header.alt h1 {
  font-size: 2.2em;
  padding-top: 0.69em;
  font-weight: bold;
}

#header.alt > * {
  -moz-transition: opacity 3s ease;
  -webkit-transition: opacity 3s ease;
  -ms-transition: opacity 3s ease;
  transition: opacity 3s ease;
  -moz-transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
  -ms-transition-delay: 0.5s;
  transition-delay: 0.5s;
  opacity: 1;
}

#header.alt .logo {
  -moz-transition: opacity 1.25s ease, -moz-transform 0.5s ease;
  -webkit-transition: opacity 1.25s ease, -webkit-transform 0.5s ease;
  -ms-transition: opacity 1.25s ease, -ms-transform 0.5s ease;
  transition: opacity 1.25s ease, transform 0.5s ease;
  -moz-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  -ms-transition-delay: 0s;
  transition-delay: 0s;
  display: block;
  color: #fff;
  text-shadow: 2px 2px 1px #000;
  /*				margin: 0 0 1.5em 0;*/
}

#header.alt .logo img {
  display: block;
  margin: 0 auto;
  max-width: 75%;
}

@media screen and (max-width: 1280px) {
  #header {
    padding: 1em;
  }

  #header.alt {
    padding: 1em;
  }
}

@media screen and (max-width: 980px) {
  #header {
    padding: 1em;
  }

  #header.alt {
    padding: 1em;
  }
}

@media screen and (max-width: 736px) {
  #header {
    padding: 1em;
  }

  #header p {
    font-size: 1em;
    letter-spacing: 0;
  }

  #header p br {
    display: none;
  }

  #header.alt {
    padding: 1em;
  }

  #header.alt h1 {
    font-size: 2.2em;
  }
}

@media screen and (max-width: 480px) {
  #header {
    padding: 1em;
  }

  #header.alt {
    padding: 1em;
  }
}

@media screen and (max-width: 360px) {
  #header {
    padding: 1em;
  }

  #header.alt {
    padding: 1em;
  }
}

body.is-preload #header.alt > * {
  opacity: 0;
}

body.is-preload #header.alt .logo {
  -moz-transform: scale(0.8) rotate(-30deg);
  -webkit-transform: scale(0.8) rotate(-30deg);
  -ms-transform: scale(0.8) rotate(-30deg);
  transform: scale(0.8) rotate(-30deg);
}

/* Nav */

#nav {
  -moz-transition: background-color 0.2s ease, border-top-left-radius 0.2s ease,
    border-top-right-radius 0.2s ease, padding 0.2s ease;
  -webkit-transition: background-color 0.2s ease,
    border-top-left-radius 0.2s ease, border-top-right-radius 0.2s ease,
    padding 0.2s ease;
  -ms-transition: background-color 0.2s ease, border-top-left-radius 0.2s ease,
    border-top-right-radius 0.2s ease, padding 0.2s ease;
  transition: background-color 0.2s ease, border-top-left-radius 0.2s ease,
    border-top-right-radius 0.2s ease, padding 0.2s ease;
  background-color: #ffffff;
  color: #111;
  position: absolute;
  width: 100%;
  max-width: 100%;
  padding: 1em;
  background-color: #f7f7f7;
  border-top-left-radius: 0.25em;
  border-top-right-radius: 0.25em;
  cursor: default;
  text-align: center;
}

#nav input,
#nav select,
#nav textarea {
  color: #111;
}

#nav a:hover {
  color: #111;
}

#nav strong,
#nav b {
  color: #111;
}

#nav h1,
#nav h2,
#nav h3,
#nav h4,
#nav h5,
#nav h6 {
  color: #111;
}

#nav blockquote {
  border-left-color: #dddddd;
}

#nav code {
  background: rgba(222, 222, 222, 0.25);
  border-color: #dddddd;
}

#nav hr {
  border-bottom-color: #dddddd;
}

#nav + #main {
  padding-top: 4.25em;
}

#nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#nav ul li {
  -moz-transition: margin 0.2s ease;
  -webkit-transition: margin 0.2s ease;
  -ms-transition: margin 0.2s ease;
  transition: margin 0.2s ease;
  display: inline-block;
  margin: 0 0.35em;
  padding: 0;
  vertical-align: middle;
}

#nav ul li a {
  -moz-transition: font-size 0.2s ease;
  -webkit-transition: font-size 0.2s ease;
  -ms-transition: font-size 0.2s ease;
  transition: font-size 0.2s ease;
  display: inline-block;
  height: 2.25em;
  line-height: 2.25em;
  padding: 0 1.25em;
  border: 0;
  border-radius: 8px;
  box-shadow: inset 0 0 0 1px transparent;
}

#nav ul li a:hover {
  background-color: rgba(222, 222, 222, 0.25);
}

#nav ul li a.active {
  background-color: #ffffff;
  box-shadow: none;
}

#nav.alt {
  position: fixed;
  top: 0;
  padding: 0.5em 1em;
  background-color: rgba(247, 247, 247, 0.95);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  z-index: 10000;
}

#nav.alt ul li {
  margin: 0 0.175em;
}

#nav.alt ul li a {
  font-size: 0.9em;
}

@media screen and (max-width: 736px) {
  #nav {
    display: none;
  }

  #nav + #main {
    padding-top: 0;
  }
}

/* Main */

#main {
  color: #111;
  border-radius: 0.25em;
}

#main input,
#main select,
#main textarea {
  color: #111;
}

#main a:hover {
  color: #111;
}

#main strong,
#main b {
  color: #fff;
}

#main h1,
#main h2,
#main h3,
#main h4,
#main h5,
#main h6 {
  color: #111;
}

#main blockquote {
  border-left-color: #dddddd;
}

#main code {
  background: rgba(222, 222, 222, 0.25);
  border-color: #dddddd;
}

#main hr {
  border-bottom-color: #dddddd;
}

#main .box {
  border-color: #dddddd;
}

#main input[type="submit"],
#main input[type="reset"],
#main input[type="button"],
#main button,
#main .button {
  background-color: #fff;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.33);
  color: #111;
}

#main input[type="submit"]:hover,
#main input[type="reset"]:hover,
#main input[type="button"]:hover,
#main button:hover,
#main .button:hover {
  background-color: #111;
  color: #fff;
}

#main input[type="submit"]:active,
#main input[type="reset"]:active,
#main input[type="button"]:active,
#main button:active,
#main .button:active {
  background-color: rgba(222, 222, 222, 0.5);
}

#main input[type="submit"].icon:before,
#main input[type="reset"].icon:before,
#main input[type="button"].icon:before,
#main button.icon:before,
#main .button.icon:before {
  color: rgba(99, 99, 99, 0.25);
}

#main input[type="submit"].primary,
#main input[type="reset"].primary,
#main input[type="button"].primary,
#main button.primary,
#main .button.primary {
  background-color: #8cc9f0;
  color: #111;
  box-shadow: none;
}

#main input[type="submit"].primary:hover,
#main input[type="reset"].primary:hover,
#main input[type="button"].primary:hover,
#main button.primary:hover,
#main .button.primary:hover {
  background-color: #9acff2;
}

#main input[type="submit"].primary:active,
#main input[type="reset"].primary:active,
#main input[type="button"].primary:active,
#main button.primary:active,
#main .button.primary:active {
  background-color: #7ec3ee;
}

#main input[type="submit"].primary.icon:before,
#main input[type="reset"].primary.icon:before,
#main input[type="button"].primary.icon:before,
#main button.primary.icon:before,
#main .button.primary.icon:before {
  color: #111;
}

#main label {
  color: #111;
}

#main input[type="text"],
#main input[type="password"],
#main input[type="email"],
#main select,
#main textarea {
  background-color: rgba(222, 222, 222, 0.25);
  border-color: #dddddd;
}

#main input[type="text"]:focus,
#main input[type="password"]:focus,
#main input[type="email"]:focus,
#main select:focus,
#main textarea:focus {
  border-color: #8cc9f0;
  box-shadow: 0 0 0 1px #8cc9f0;
}

#main select {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' preserveAspectRatio='none' viewBox='0 0 40 40'%3E%3Cpath d='M9.4,12.3l10.4,10.4l10.4-10.4c0.2-0.2,0.5-0.4,0.9-0.4c0.3,0,0.6,0.1,0.9,0.4l3.3,3.3c0.2,0.2,0.4,0.5,0.4,0.9 c0,0.4-0.1,0.6-0.4,0.9L20.7,31.9c-0.2,0.2-0.5,0.4-0.9,0.4c-0.3,0-0.6-0.1-0.9-0.4L4.3,17.3c-0.2-0.2-0.4-0.5-0.4-0.9 c0-0.4,0.1-0.6,0.4-0.9l3.3-3.3c0.2-0.2,0.5-0.4,0.9-0.4S9.1,12.1,9.4,12.3z' fill='%23dddddd' /%3E%3C/svg%3E");
}

#main select option {
  color: #111;
  background: #ffffff;
}

#main input[type="checkbox"] + label,
#main input[type="radio"] + label {
  color: #111;
}

#main input[type="checkbox"] + label:before,
#main input[type="radio"] + label:before {
  background: rgba(222, 222, 222, 0.25);
  border-color: #dddddd;
}

#main input[type="checkbox"]:checked + label:before,
#main input[type="radio"]:checked + label:before {
  background-color: #636363;
  border-color: #636363;
  color: #ffffff;
}

#main input[type="checkbox"]:focus + label:before,
#main input[type="radio"]:focus + label:before {
  border-color: #8cc9f0;
  box-shadow: 0 0 0 1px #8cc9f0;
}

#main ::-webkit-input-placeholder {
  color: rgba(99, 99, 99, 0.25) !important;
}

#main :-moz-placeholder {
  color: rgba(99, 99, 99, 0.25) !important;
}

#main ::-moz-placeholder {
  color: rgba(99, 99, 99, 0.25) !important;
}

#main :-ms-input-placeholder {
  color: rgba(99, 99, 99, 0.25) !important;
}

#main .formerize-placeholder {
  color: rgba(99, 99, 99, 0.25) !important;
}

#main .icon.major {
  border-color: #dddddd;
}

#main .icon.major:before {
  border-color: #dddddd;
}

#main .icon.alt {
  border-color: #dddddd;
  color: #111;
}

#main .icon.alt:hover {
  background-color: rgba(222, 222, 222, 0.25);
}

#main .icon.alt:active {
  background-color: rgba(222, 222, 222, 0.5);
}

#main ul.alt li {
  border-top-color: #dddddd;
}

#main dl dt {
  color: #111;
}

#main header.major h2:after {
  background-color: #dddddd;
  background-image: -moz-linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0);
  background-image: -webkit-linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0);
  background-image: -ms-linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0);
  background-image: linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0);
}

#main table tbody tr {
  border-color: #dddddd;
}

#main table tbody tr:nth-child(2n + 1) {
  background-color: rgba(222, 222, 222, 0.25);
}

#main table th {
  color: #111;
}

#main table thead {
  border-bottom-color: #dddddd;
}

#main table tfoot {
  border-top-color: #dddddd;
}

#main table.alt tbody tr td {
  border-color: #dddddd;
}

#main .spotlight .image {
  border-color: #dddddd;
}

#main > .main {
  padding: 1em;
  border-top: solid 1px #dddddd;
}

#main > .main:first-child {
  border-top: 0;
}

#main > .main > .image.main:first-child {
  margin: -5em 0 5em -5em;
  width: calc(100% + 10em);
  border-top-right-radius: 0.25em;
  border-top-left-radius: 0.25em;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

#main > .main > .image.main:first-child img {
  border-top-right-radius: 0.25em;
  border-top-left-radius: 0.25em;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}



/* Wrapper */

#wrapper {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  background-image: url("images/BG.jpg");
  animation: scroll 4500s linear infinite;
  background-size: cover;
  background-position: 0% 0%;
}

@keyframes scroll {
  100% {
    background-position: 0px 4000%;
  }
}



@media screen and (max-width: 1280px) {
  #main > .main {
    padding: 1em;
  }

  #main > .main > .image.main:first-child {
    margin: -4em 0 4em -4em;
    width: 100%;
  }
}

@media screen and (max-width: 980px) {
  #main > .main {
    padding: 1em;
  }

  #main > .main > .image.main:first-child {
    margin: -4em 0 4em -3em;
    width: 100%;
  }
}

@media screen and (max-width: 736px) {

#wrapper {
  max-width: 100%;
  animation: scroll 1500s linear infinite;
}



  #main > .main {
    padding: 1em;
  }

  .console-outer {
    max-height: 340px;
  }

  #main > .main > .image.main:first-child {
    margin: 1em;
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  #main > .main {
    padding: 1em;
  }

  #main > .main > .image.main:first-child {
    margin: -3em 0 1.5em -1.5em;
    width: 100%;
  }
}

@media screen and (max-width: 360px) {
  #main {
    border-radius: 0;
  }

  #main > .main {
    padding: 1em;
  }

  #main > .main > .image.main:first-child {
    margin: -2.5em 0 1.5em -1em;
    width: 100%;
    border-radius: 0;
  }

  #main > .main > .image.main:first-child img {
    border-radius: 0;
  }
}

/* Footer */

#footer {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 5em 5em 3em 5em;
  width: calc(100% + 2em);
  margin: 0;
  background-color: #111;
  color: #fff;
  text-align: center;
}

#footer > * {
  /*			width: calc(50% - 2em);
			margin-left: 2em;*/
  margin: 0 auto;
  text-align: center;
}

#footer .copyright {
  width: 100%;
  margin: 2.5em 0 2em 0;
  font-size: 1em;
  text-align: center;
}

@media screen and (max-width: 1280px) {
  #footer {
    padding: 4em 4em 2em 4em;
  }
}

@media screen and (max-width: 980px) {
  #footer {
    padding: 4em 3em 2em 3em;
    display: block;
    margin: 0;
    width: 100%;
  }

  #footer > * {
    width: 100%;
    margin-left: 0;
    margin-bottom: 3em;
  }

  #footer .copyright {
    text-align: center;
  }
}

@media screen and (max-width: 736px) {
  #footer {
    padding: 3em 2em 1em 2em;
  }
}

@media screen and (max-width: 480px) {
  #footer {
    padding: 3em 1.5em 1em 1.5em;
  }
}

@media screen and (max-width: 480px) {
  #footer {
    padding: 2.5em 1em 0.5em 1em;
  }
}

@media (prefers-reduced-motion) {
  #wrapper {
    animation: scroll 800s linear infinite;
  }
}

@media screen and (max-width: 480px) {


#wrapper {
  max-width: 100%;
}



}

@media screen and (max-width: 360px) {
  #wrapper {
    max-width: 100%;
  }
}

/* Add this CSS to style the modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fff;
  color: #111;
  margin: 0 auto;
  padding: 24px;
  border: 1px solid #888;
  width: 96%;
  max-width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  border-radius: 10px;
}

.modal h3 {
  color: #111;
  width: 100%;
  text-align: center;
}

.close {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 40px;
  font-weight: 400;
  color: #111;
  cursor: pointer;
}

.video-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
